
.animal{
    	float:left;
	/*	margin: 5px 5px 5px 2px ;*/
		padding: 25px;
		padding-bottom:5%;
		padding-top:5%;
		padding-left:3%;
		width:250px;
		height:350px;
	
}

.imgaAnimal{
	border-radius:5px;
    width:250px;
    height:150px;
}

.descricao{
	margin-left: 30px;
	
}