@charset "utf-8";
/* CSS Document */


*{
	margin:0;
	padding:0;
}

#wrapper{
	width:100%;	
}


.nav_responsiva,.menu_responsivo{
	display:none;
	
}

main{
	margin-top:2.5%;
	margin-bottom:1%;
	position:relative;
	width:85%;
	height:auto;
	padding-top:4%;
	float:left;
	background-color:#FFF;
}

aside{
	position:relative;
	float:left;
	width:15%;
	height:auto;
	margin-top:7.5%;
	margin-bottom:1%;
	box-sizing:border-box;
	border-radius:15px;	
}

#anuncios_animais{
	width:100%;
	height:auto;
	float:left;
} 


 
#info_animal{
	width:22.5%;
	height:auto;
	margin-left:2%;
	float:left;
}

#fora_botao
{
	width:100%;
	height:auto;
	clear:left;
}

#botao_animais{
		position:relative;
		width:12%;
		font-family: 'Amatic SC', cursive;
		font-weight:bold;
		color:#eee;
		font-size:26px;
		border: none;
		border-bottom: 6px solid #F4511E;
	 	background: #FF6D00;
		border-radius: 10px;
		margin-left:50%;
		left:-6%;
		margin-top:2%;
}

h1{ 
	font-size:52px;
	font-family: 'Amatic SC', cursive;
	color:#e67e22;
	text-align:center;
	margin-top:20px;
	margin-bottom:50px;
}


h2{
	font-family: 'Amatic SC', cursive;
	font-size:44px;
	text-align:center;
	color:#2C3E50;
}

#filtrofarejar{
	text-align:center;	
}


p{
	font-family:'Open Sans';
	font-size:15px;
	margin-top:3%;
}

select{
	width:50%;
	height:30px;
	position:relative;
	z-index:9999;
	margin-top:4%;	
}

#espacamento
{
	width:100%;
	height:auto;
	background-color:#FFF;
}
 
 
#imagem_animal{
	width:100%;
	height:280px;
} 

.img
{
	width:100%;
	height:280px;
}

 
 
#texto_info_animal{
	width:100%;
	height:150px;
}
 
 
 
#texto_info_animal h3{
	font-family:'Open Sans';
	font-size:15px;
	text-align:center;
}

  
#texto_info_animal p{
	font-family:'Open Sans';
	font-size:15px;
	text-align:justify;
	margin-left:15%;
}

#botao_filtro
{
		position:relative;
		width:100px;
		font-family: 'Amatic SC', cursive;
		font-weight:bold;
		color:#eee;
		font-size:26px;
		border: none;
		border-bottom: 6px solid #F4511E;
	 	background: #FF6D00;
		border-radius: 10px;
		margin-left:50%;
		left:-50px;
		margin-top:5%;
}

#botao_ver_animais{
	position:relative;
	width:100px;
	height:40px;
	background:transparent;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:500;
	font-size:15px;
	color:#663300;
	border:2.5px solid #795548;
	cursor:pointer;
	border-radius:5px;
	margin-left:50%;
	left:-50px;
	margin-top:5%;
}
 
#copyright{
    width:100%;
    background-color:#ef914e;
    float:left;
}

#copyright>p{
     font-size:12px;
      text-align:center;
      padding: 1%;
      color:#eee;	
	  z-index:99999;
}

/* CSS Document */

/*DEFAULT*/
*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	}

.logotipo{
	display:none;	
}

figure{
	width:150px;
	height:400px;
	position:absolute;
	z-index:3;
	margin-left:15%;
	margin-top:0%;
	}


a{
	font-size:14px;
	text-decoration:none;
	color:#fff;
	font-weight:500;
}

h5{
	font-size:14px;
	text-decoration:none;
	color:#fff;
	font-weight:300;
}


#login{
		display:none;
	    width:13%;
		height:205px;
		position:fixed;
		z-index:99999;
		top:4.5%;
		right:15%;
		text-align:center;
		background-color:rgba(114,76,78,0.6);
		border-radius:15px;
        -moz-box-shadow: 4px 10px 18px #000000;
        -webkit-box-shadow: 4px 10px 18px #000000;
        box-shadow: 4px 10px 18px #000000;
		}	
/*FIM LOGIN*/	



/*NAV FIXA*/	

.mostrar
	{
	z-index:99999;
	position:fixed;
	top:0;
	padding:9px;	
	width:100%;
	height:70px;
	background-color:rgba(235,118,35,1);
	-webkit-box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	-moz-box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	}


.mostrar>ul{
	width: 60%;
	padding-left:5%;
	padding-top:1%;
	text-align: center;
	
}


.mostrar > ul > a{
    color: #eee;
	font-size:16px;
    margin: 10% 7%;
	text-decoration:none;
	
}

.mostrar > ul > a:hover{
	color: rgba(60,22,17,0.6);
	-webkit-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

}

#menu{
	display:block;
}

#menu li
	{
	   display:inline;
		font-family: 'Open Sans', sans-serif;
		margin: 0% -2%;
	}


#menu ul{
		width:60%;
		margin-top:-5%;
		margin-left:15%;	
	}	


.loginmenu
	{
		position:absolute;
		width:9%;
		top:0%;
		right:18%;
		font-family: 'Amatic SC', cursive;
		font-weight:bold;
		color:#eee;
		font-size:26px;
		border: none;
		border-bottom: 6px solid #4e342e;
	 	background: #795548;
		border-radius: 10px;
}
	
.loginmenu:active{
	border-bottom: 0;
	box-shadow: none;
	-webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}


#login input{
	width:65%;
	height:auto;
	text-align: center;
	padding:2% 5% 2% 5%;
	margin: 0 auto;
	margin-bottom:7%;	
}

.botao{
	background-color:transparent;
	font-family: 'Roboto';
	border:2px solid #eee;
	border-radius:5px;
	color:#404040;
	

	
}

/*FIM NAV FIXA*/	
/*RODAPÉ */	
	
footer
	{	
	position: relative;
	overflow: hidden;
	float:left;
	width:100%;
	background-color:#ed8338;
}


#copyright{
    width:100%;
    background-color:#ef914e;
    float:left;
}

#copyright>p{
     font-size:12px;
      text-align:center;
      padding: 1%;
      color:#eee;	
}
	
.social{
	position: relative;
	margin:auto;
	text-align:center;
	margin-right:2%;
	margin-top:10%;
	padding:2%;
}

.social>a>i{
	font-size:38px;
	letter-spacing: 10px;
}

.menufooter{
	position: relative;
	width:100%;
}

.menufooter >.submenufooter{
	position: relative;
	width: 33.3%;
	float: left;
}

.menufooter >.submenufooter >ul{
	width: 50%;	
	border-left:3px solid #e65100;
	margin-left:40%;
}

.menufooter >.submenufooter >ul>li{
	margin:5%;
	list-style: none;

}

.menufooter>.submenufooter>ul>li>a{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	letter-spacing:1px;
	text-decoration:none;
	color:#5d4037;
	font-weight: 400;
}

.menufooter>.submenufooter>h2>i{
	font-size:29px;
	letter-spacing: 5px;
	
}


.menufooter>.submenufooter>h2{
    font-family: 'Amatic SC', cursive;
	color:#fff;
	font-size: 40px;
	margin:3% 10%;
	font-weight: 200;
	text-align:center;
}



/*FIM RODAPÉ */	

/*ÍCONES FONT AWESOME*/



.fa-facebook{
	color:#fff;
}

.fa-facebook:hover{
	color:#0277bd;
}

.fa-twitter{
	color:#fff;
}

.fa-twitter:hover{
	color:#81d4fa;
}

.fa-envelope{
	color:#fff;	
}

.fa-envelope:hover{
	color:#81c784;	
}


.fa-search{
	color:#3C1611;
}

.fa-paw{
	color:#3C1611;

}

.fa-sign-in{
	color:#3C1611;
}


.fa-phone{
	color:#3C1611;
}

.fa-user-plus{
		color:#3C1611;
}

.menu_responsivo,.nav_responsiva{
display:none;}

@charset "utf-8";
/* CSS Document */


*{
	margin:0;
	padding:0;
}

#wrapper{
	width:100%;	
}


.nav_responsiva,.menu_responsivo{
	display:none;
	
}

main{
	margin-top:2.5%;
	margin-bottom:1%;
	position:relative;
	width:85%;
	height:auto;
	padding-top:4%;
	float:left;
	background-color:#FFF;
}

aside{
	position:relative;
	float:left;
	width:15%;
	height:auto;
	margin-top:7.5%;
	margin-bottom:1%;
	box-sizing:border-box;
	border-radius:15px;	
}

#anuncios_animais{
	width:100%;
	height:auto;
	float:left;
} 


 
#info_animal{
	width:22.5%;
	height:auto;
	margin-left:2%;
	float:left;
}

#fora_botao
{
	width:100%;
	height:auto;
	clear:left;
}

#botao_animais{
		position:relative;
		width:12%;
		font-family: 'Amatic SC', cursive;
		font-weight:bold;
		color:#eee;
		font-size:26px;
		border: none;
		border-bottom: 6px solid #F4511E;
	 	background: #FF6D00;
		border-radius: 10px;
		margin-left:50%;
		left:-6%;
		margin-top:2%;
}

h1{ 
	font-size:52px;
	font-family: 'Amatic SC', cursive;
	color:#e67e22;
	text-align:center;
	margin-top:20px;
	margin-bottom:50px;
}


h2{
	font-family: 'Amatic SC', cursive;
	font-size:44px;
	text-align:center;
	color:#2C3E50;
}

#filtrofarejar{
	text-align:center;	
}


p{
	font-family:'Open Sans';
	font-size:15px;
	margin-top:3%;
}

select{
	width:50%;
	height:30px;
	position:relative;
	z-index:9999;
	margin-top:4%;	
}

#espacamento
{
	width:100%;
	height:auto;
	background-color:#FFF;
}
 
 
#imagem_animal{
	width:100%;
	height:280px;
} 

.img
{
	width:100%;
	height:280px;
}

 
 
#texto_info_animal{
	width:100%;
	height:150px;
}
 
 
 
#texto_info_animal h3{
	font-family:'Open Sans';
	font-size:15px;
	text-align:center;
}

  
#texto_info_animal p{
	font-family:'Open Sans';
	font-size:15px;
	text-align:justify;
	margin-left:15%;
}

#botao_filtro
{
		position:relative;
		width:100px;
		font-family: 'Amatic SC', cursive;
		font-weight:bold;
		color:#eee;
		font-size:26px;
		border: none;
		border-bottom: 6px solid #F4511E;
	 	background: #FF6D00;
		border-radius: 10px;
		margin-left:50%;
		left:-50px;
		margin-top:5%;
}

#botao_ver_animais{
	position:relative;
	width:100px;
	height:40px;
	background:transparent;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:500;
	font-size:15px;
	color:#663300;
	border:2.5px solid #795548;
	cursor:pointer;
	border-radius:5px;
	margin-left:50%;
	left:-50px;
	margin-top:5%;
}
 
#copyright{
    width:100%;
    background-color:#ef914e;
    float:left;
}

#copyright>p{
     font-size:12px;
      text-align:center;
      padding: 1%;
      color:#eee;	
	  z-index:99999;
}


/*estilo*/
*{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
}
a{
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}
h5{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
}
#bg-gato{
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: auto;
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}
#bg-gato h1{
	bottom: 45%;
	color: #fff;
	font-family: Roboto;
	font-size: 28px;
	font-weight: 500;
	padding-left: 61%;
	padding-top: 45%;
	position: relative;
	text-align: center;
	text-shadow: 1px 2px #000;
	width: 35%;
}
figure{
	height: 400px;
	margin-left: 15%;
	margin-top: 0%;
	position: absolute;
	width: 150px;
	z-index: 3;
}
.logotipo{
	background-color: #fff;
	float: left;
}
header{
	height: 115px;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 2;
}
h1{
	color: rgba(60, 22, 17,0.9);
	font-family: 'Amatic SC', cursive;
	font-size: 80px;
	text-align: center;
}
p{
	font-size: 15px;
}
.login{
	background: #ef914e;
	border: none;
	border-bottom: 6px solid #bc5e1c;
	border-radius: 10px;
	box-shadow: -3px -2px 8px 0px rgba(0,0,0,0.4);
	color: #212121;
	color: #fff;
	font-family: 'Amatic SC', cursive;
	font-size: 26px;
	font-weight: bold;
	moz-box-shadow: -3px -2px 8px 0px rgba(0,0,0,0.4);
	position: absolute;
	right: 20%;
	top: 0;
	webkit-box-shadow: -3px -2px 8px 0px rgba(0,0,0,0.4);
	width: 9%;
}
.login:active{
	border-bottom: 0;
	box-shadow: none;
	moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#login, #login_2{
	background-color: rgba(114,76,78,0.6);
	border-radius: 15px;
	box-shadow: 4px 10px 18px #000000;
	display: none;
	height: 209px;
	moz-box-shadow: 4px 10px 18px #000000;
	position: absolute;
	right: 18%;
	text-align: center;
	top: 35%;
	webkit-box-shadow: 4px 10px 18px #000000;
	width: 13%;
}
#login_2{
	right: 8.5%;
}
input{
	border: 1px solid rgba(153,153,153,0.5);
	border-radius: 4.5px;
	font-family: 'Open Sans';
	font-size: 15px;
	margin: 3%;
	padding: 2% 0% 2% 0%;
	text-align: center;
	width: 70%;
}
nav.menu > ul{
	margin: 0 auto;
	margin-top: 7%;
	padding: -1% 2%;
	position: absolute;
}
nav.menu > ul > li > a{
	color: #fff;
	height: 15px;
	margin-left: 26%;
	padding: 2% 8% 8% 0%;
	text-decoration: none;
	width: 45px;
}
nav.menu > ul > li{
	color: red;
	list-style-type: none;
	padding-left: 13%;
}
nav.menu > ul > li > a:hover{
	color: #ffecb3;
	height: 15px;
	moz-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	o-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	padding: 2% 1% 2% 1%;
	transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	webkit-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	width: 45px;
}
nav{
	background-color: rgba(235,118,35,0.7);
	box-shadow: 16px 19px 24px -6px rgba(0,0,0,0.46);
	height: 200px;
	margin-left: 15%;
	moz-box-shadow: 16px 19px 24px -6px rgba(0,0,0,0.46);
	position: relative;
	top: 173%;
	webkit-box-shadow: 16px 19px 24px -6px rgba(0,0,0,0.46);
	width: 150px;
	z-index: 4;
}
.mostrar{
	background-color: rgba(235,118,35,1);
	box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	height: 70px;
	moz-box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	padding: 9px;
	position: fixed;
	top: 0;
	webkit-box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	width: 100%;
}
.mostrar>ul{
	padding-left: 9%;
	padding-top: 1%;
	text-align: center;
	width: 50%;
}
.mostrar > ul > a{
	color: #eee;
	font-size: 18px;
	margin: 10% 8%;
	text-decoration: none;
}
.mostrar > ul > a:hover{
	color: rgba(60,22,17,0.6);
	moz-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	o-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	webkit-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#menu{
	display: block;
}
#menu li{
	display: inline;
	font-family: 'Open Sans', sans-serif;
	margin: 0% -2%;
}
#menu ul{
	margin-left: 8%;
	margin-top: -5%;
	width: 60%;
}
.loginmenu{
	background: #795548;
	border: none;
	border-bottom: 6px solid #4e342e;
	border-radius: 10px;
	color: #eee;
	font-family: 'Amatic SC', cursive;
	font-size: 26px;
	font-weight: bold;
	position: absolute;
	right: 10%;
	top: 0%;
	width: 9%;
}
.loginmenu:active{
	border-bottom: 0;
	box-shadow: none;
	moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.container_sessao1{
	position: relative;
	width: 100%;
}
.container_sessao2{
	margin: 0 auto;
	width: 70%;
}
section{
	background-color: #fafafa;
	border-radius: 5%;
	box-shadow: 3px 3px 10px 4px rgba(217,204,217,0.67);
	float: left;
	height: 255px;
	margin: 2.5% 5% 2.5% 5%;
	moz-box-shadow: 3px 3px 10px 4px rgba(217,204,217,0.67);
	position: relative;
	webkit-box-shadow: 3px 3px 10px 4px rgba(217,204,217,0.67);
	width: 40%;
}
section>h1{
	color: #ed8338;
	font-family: 'Amatic SC', cursive;
	font-size: 62px;
	margin-bottom: -10%;
	margin-left: 60%;
}
section>p{
	color: #795548;
	font-family: 'Open Sans';
	font-size: 14px;
	margin: -40% 22% 10% 42%;
	padding: 5%;
	text-align: center;
	width: 50%;
}
.imagemsection{
	margin-left: 3%;
	margin-top: 2%;
	max-width: 70%;
	min-width: 30%;
	opacity: 0.8;
	width: 163px;
}
.imagemsection:hover{
	opacity: 1;
}
footer{
	background-color: #ed8338;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#copyright{
	background-color: #ef914e;
	float: left;
	width: 100%;
}
#copyright>p{
	color: #eee;
	font-size: 12px;
	padding: 1%;
	text-align: center;
}
.social{
	margin: auto;
	margin-right: 2%;
	margin-top: 10%;
	padding: 2%;
	position: relative;
	text-align: center;
}
.social>a>i{
	font-size: 38px;
	letter-spacing: 10px;
}
.menufooter{
	position: relative;
	width: 100%;
}
.menufooter >.submenufooter{
	float: left;
	position: relative;
	width: 33.3%;
}
.menufooter >.submenufooter >ul{
	border-left: 3px solid #e65100;
	margin-left: 40%;
	width: 50%;
}
.menufooter >.submenufooter >ul>li{
	list-style: none;
	margin: 5%;
}
.menufooter>.submenufooter>ul>li>a{
	color: #5d4037;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
}
.menufooter>.submenufooter>h2>i{
	font-size: 29px;
	letter-spacing: 5px;
}
.menufooter>.submenufooter>h2{
	color: #fff;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: 200;
	margin: 3% 10%;
	text-align: center;
}
.fa-facebook{
	color: #fff;
}
.fa-facebook:hover{
	color: #0277bd;
}
.fa-twitter{
	color: #fff;
}
.fa-twitter:hover{
	color: #81d4fa;
}
.fa-envelope{
	color: #fff;
}
.fa-envelope:hover{
	color: #81c784;
}
.fa-search{
	color: #3C1611;
}
.fa-sign-in{
	color: #3C1611;
}
.fa-phone{
	color: #3C1611;
}
.fa-user-plus{
	color: #3C1611;
}
.menu_responsivo,.nav_responsiva{
	display: none;
}
/*responsividade*/


/*DEFAULT*/
*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	}

.logotipo{
	display:none;	
}

figure{
	width:150px;
	height:400px;
	position:absolute;
	z-index:3;
	margin-left:15%;
	margin-top:0%;
	}


a{
	font-size:14px;
	text-decoration:none;
	color:#fff;
	font-weight:500;
}

h5{
	font-size:14px;
	text-decoration:none;
	color:#fff;
	font-weight:300;
}


#login{
		display:none;
	    width:13%;
		height:205px;
		position:fixed;
		z-index:99999;
		top:4.5%;
		right:15%;
		text-align:center;
		background-color:rgba(114,76,78,0.6);
		border-radius:15px;
        -moz-box-shadow: 4px 10px 18px #000000;
        -webkit-box-shadow: 4px 10px 18px #000000;
        box-shadow: 4px 10px 18px #000000;
		}	
/*FIM LOGIN*/	



/*NAV FIXA*/	

.mostrar
	{
	z-index:99999;
	position:fixed;
	top:0;
	padding:9px;	
	width:100%;
	height:70px;
	background-color:rgba(235,118,35,1);
	-webkit-box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	-moz-box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	box-shadow: 0px 0px 13px 0px rgba(5,5,5,0.54);
	}


.mostrar>ul{
	width: 60%;
	padding-left:5%;
	padding-top:1%;
	text-align: center;
	
}


.mostrar > ul > a{
    color: #eee;
	font-size:16px;
    margin: 10% 7%;
	text-decoration:none;
	
}

.mostrar > ul > a:hover{
	color: rgba(60,22,17,0.6);
	-webkit-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

}

#menu{
	display:block;
}

#menu li
	{
	   display:inline;
		font-family: 'Open Sans', sans-serif;
		margin: 0% -2%;
	}


#menu ul{
		width:60%;
		margin-top:-5%;
		margin-left:15%;	
	}	


.loginmenu
	{
		position:absolute;
		width:9%;
		top:0%;
		right:18%;
		font-family: 'Amatic SC', cursive;
		font-weight:bold;
		color:#eee;
		font-size:26px;
		border: none;
		border-bottom: 6px solid #4e342e;
	 	background: #795548;
		border-radius: 10px;
}
	
.loginmenu:active{
	border-bottom: 0;
	box-shadow: none;
	-webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}


#login input{
	width:65%;
	height:auto;
	text-align: center;
	padding:2% 5% 2% 5%;
	margin: 0 auto;
	margin-bottom:7%;	
}

.botao{
	background-color:transparent;
	font-family: 'Roboto';
	border:2px solid #eee;
	border-radius:5px;
	color:#404040;
	

	
}

/*FIM NAV FIXA*/	
/*RODAPÉ */	
	
footer
	{	
	position: relative;
	overflow: hidden;
	float:left;
	width:100%;
	background-color:#ed8338;
}


#copyright{
    width:100%;
    background-color:#ef914e;
    float:left;
}

#copyright>p{
     font-size:12px;
      text-align:center;
      padding: 1%;
      color:#eee;	
}
	
.social{
	position: relative;
	margin:auto;
	text-align:center;
	margin-right:2%;
	margin-top:10%;
	padding:2%;
}

.social>a>i{
	font-size:38px;
	letter-spacing: 10px;
}

.menufooter{
	position: relative;
	width:100%;
}

.menufooter >.submenufooter{
	position: relative;
	width: 33.3%;
	float: left;
}

.menufooter >.submenufooter >ul{
	width: 50%;	
	border-left:3px solid #e65100;
	margin-left:40%;
}

.menufooter >.submenufooter >ul>li{
	margin:5%;
	list-style: none;

}

.menufooter>.submenufooter>ul>li>a{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	letter-spacing:1px;
	text-decoration:none;
	color:#5d4037;
	font-weight: 400;
}

.menufooter>.submenufooter>h2>i{
	font-size:29px;
	letter-spacing: 5px;
	
}


.menufooter>.submenufooter>h2{
    font-family: 'Amatic SC', cursive;
	color:#fff;
	font-size: 40px;
	margin:3% 10%;
	font-weight: 200;
	text-align:center;
}



/*FIM RODAPÉ */	

/*ÍCONES FONT AWESOME*/



.fa-facebook{
	color:#fff;
}

.fa-facebook:hover{
	color:#0277bd;
}

.fa-twitter{
	color:#fff;
}

.fa-twitter:hover{
	color:#81d4fa;
}

.fa-envelope{
	color:#fff;	
}

.fa-envelope:hover{
	color:#81c784;	
}


.fa-search{
	color:#3C1611;
}

.fa-paw{
	color:#3C1611;

}

.fa-sign-in{
	color:#3C1611;
}


.fa-phone{
	color:#3C1611;
}

.fa-user-plus{
		color:#3C1611;
}

.menu_responsivo,.nav_responsiva{
display:none;}



/*FIM: MODIFICAÇOES*/


/* CONTEÚDO SOBRE */

.logo{
	display:none;	
}

aside
{
	width:100%;
	height:300px;
	margin:0 auto;
	margin-top:-10%;
}


#sobre{
		width:100%;
		height:auto;
		max-width:60%;
}


#texto_time{
	width:100%;
	height:200px;
}


#sobre h1{
	padding-top:15%;
}

#space{
	margin-left:8%;
	margin-top:5%;
	margin-bottom:5%;
	color: #03A9F4;
}

main
{
	width:100%;
}

main>h1{
	padding-bottom:2%;
}

section
{
	position:relative;
	width:20%;
	float:left;
	text-align:center;
	margin-bottom:3%;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-align:center;	
}

h1{ 
	font-size:58px;
	font-family: 'Amatic SC', cursive;
	color:#6d4c41;
	text-align:center;
	margin-bottom:-1%;
	margin-top:13%;
}

h3{ 
	font-size:58px;
	font-family: 'Amatic SC', cursive;
	color:#6d4c41;
	text-align:center;
	margin-bottom:1%;
	margin-top:-4%;
}


h2{
	font-family:'Roboto';
	font-size:14px;
	font-weight:500;
	color:#4e342e;
}

h4{
	font-family:'Roboto';
	font-size:19px;
	font-weight:500;
	color:#f57c00;
}

#copyright{
    width:100%;
    background-color:#ef914e;
    float:left;
}

#copyright>p{
     font-size:12px;
      text-align:center;
      padding: 1%;
      color:#eee;	
	  z-index:99999;
}


